<% include ../partials/header %>

<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Edit Comment</h1>
                <div class="mx-auto my-4 w-50">
                    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <input class="form-control" value="<%= comment.text %>" type="text" name="comment[text]" placeholder="Text">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit!</button>
                    </form>
                    <button class="btn btn-link" href="/campgrounds/<%= campground_id %>">Go Back</button>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>