<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Login</h1>
            <div class="my-3 mx-auto signup-login-form-container">
                <form action="/login" method="POST">
                    <div class="form-group required">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group required">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt mr-2"></i>Login</button>
                    </div>
                </form>
                <a href="/forgot" class="btn btn-link d-block text-left"><i class="fas fa-unlock mr-2"></i>Forgot password</a>
                <a href="/campgrounds" class="btn btn-link d-block text-left"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Go
                    Back</a>
            </div>
        </div>

    </div>
</div>




<% include ./partials/footer %>