<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Request New Account</h1>
        <div class="my-3 mx-auto signup-login-form-container">
            <form action="/request" method="POST">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group required">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email Address" class="form-control" required>
                </div>
                <div class="form-group required">
                    <label for="description">Tell us the reason you are requesting an account</label>
                    <textarea type="text" class="form-control" max="300" name="description" row="8" placeholder="Hey there, I'm John Doe and I would like to test this application..." required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
            </form>
            <a href="/campgrounds" class="btn btn-link"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Go Back</a>
        </div>
        </div>
        
    </div>
</div>




<% include ./partials/footer %>